# ch7 : Dictonary

In [162]:
print("first time using notebook")

first time using notebook

In [3]:
import random as r
r.randint(1,100)

70

In [5]:
r.uniform(0,2)

1.3441975547175837

In [6]:
#ch7:-dictonary

In [7]:
#this is pythan object->that stores data in form of keys and values
#{a,b}
#name and value
#{}-dictonary symbol
#key-value(S) pair
##reading it from left to rihght
#when a dictonary gets converted into file for reading.. then it is JSON->Java script object location file format
#dicnory:- is something we lookup for words and there meaning
#dictonary-> is the collection of key value pairs
#keys cannot be duplicate, values can be duplicate
#dictionary keys can be nuber,charatcer ,aplhanumeric ,
#one and multiple values
#dictionary is represented as {}
#mutuable objects
#ductinory can be converted to dataframes
#does dict supports nested dict ,ex? ->address is single ,

#3 ways you can access dic? ->only keys function is dict.keys
                          # boths keys and values   dict.items
                           #create only values dict.values
        
     ##   when i am dict .items what is the format of output? -> it returns a tuple () barcets 
    for k,v  in dict.items()
#so how it is different from set-> set doesnt have key value pair,set has only values and unique

#what else cane be do to dictinory? => fetching, iterable object
#because it is key value ,we can access withs keys no index

In [8]:
#csv refred file 
#

In [11]:
#one key - 1 value
#1 key - multiple value

########### 1 key - 1 value ##################################3
#empty dictonary
books={}

In [13]:
type(books)

dict

In [15]:
#add data in form of key-value pairs
#author->book
books['r k narayan'] = 'malgudi days'
books['ac doyle'] = 'sherlock holmes'
books['a christie'] = 'adventures of poirot'
books['herge'] = 'tintin'

In [17]:
print(books)

{'r k narayan': 'malgudi days', 'ac doyle': 'sherlock holmes', 'a christie': 'adventures of poirot', 'herge': 'tintin'}

In [ ]:
#about keys
#1) keys are unique
#2)keys can be numbers()
#,letters,or alpha numeric

In [18]:
books[18383817] = 'asterix and obelix'
print(books)

{'r k narayan': 'malgudi days', 'ac doyle': 'sherlock holmes', 'a christie': 'adventures of poirot', 'herge': 'tintin', 18383817: 'asterix and obelix'}

In [ ]:
#aplhanumeric->combination od numbers and letter

In [19]:
books['CRS1309'] = 'beauty of photography'
print(books)

{'r k narayan': 'malgudi days', 'ac doyle': 'sherlock holmes', 'a christie': 'adventures of poirot', 'herge': 'tintin', 18383817: 'asterix and obelix', 'CRS1309': 'beauty of photography'}

In [20]:
len(books)

6

In [21]:
#access it with key not index
#accessing the dictonary is by the key
#specify the right key to get the corresponding values(s)
books['herge']

'tintin'

In [22]:
#for ex wrong key
#wrong key gives a 'keyerror' exception
books[123]   #-> it will show key error

KeyError: 123

In [ ]:
#assignment
#1)write a pytho script to create a dictonary in the following format for numbers between 1 to 20 
#format should be 
numd[1]=1, numd[2]=4 [3]=9...
#no hardcoding

In [24]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [36]:
numd ={}

In [37]:
for i in range (1,21):
    numd[i] = pow(i,2)
print(numd)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [33]:
numd['1'] = 1   #this is method is wrong
numd['2'] = 2*2
numd['3'] = 3*3

In [34]:
print(numd)

{'1': 1, '2': 4, '3': 9}

In [35]:
numd['1']

1

In [42]:
#change value for a key
books['r k narayan'] = 'guide'
print(books['r k narayan'])

guide

In [46]:
#remove a certain key (key-value pair gets deleted)
del numd[1]

KeyError: 1

In [47]:
print(numd)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [48]:
#clear the contents of numd , but object is retained in memory
numd.clear()
print(numd)

{}

In [ ]:
#difference

In [51]:
numd[5] = 1919
print(numd)

{5: 1919}

In [53]:
del numd

In [54]:
print(numd)

NameError: name 'numd' is not defined

In [55]:
#other way to access dictonary
#1)get only the keys 
books.keys()

dict_keys(['r k narayan', 'ac doyle', 'a christie', 'herge', 18383817, 'CRS1309'])

In [56]:
#check if a key is present in the dictonary
'rajeev dixit' in books

False

In [57]:
#or i can use 
'rejeev dixit' in books.keys()

False

In [58]:
'a christie' in books

True

In [59]:
#2) get only the values 
books.values()

dict_values(['guide', 'sherlock holmes', 'adventures of poirot', 'tintin', 'asterix and obelix', 'beauty of photography'])

In [60]:
'poirot' in books.values()

False

In [61]:
'tintin' in books.values()

True

In [62]:
#3) both keys and values
books.items()  #tuple format

dict_items([('r k narayan', 'guide'), ('ac doyle', 'sherlock holmes'), ('a christie', 'adventures of poirot'), ('herge', 'tintin'), (18383817, 'asterix and obelix'), ('CRS1309', 'beauty of photography')])

In [63]:
for k,v in books.items():
    print('Author = {}, Books={}'.format(k,v))

Author = r k narayan, Books=guide
Author = ac doyle, Books=sherlock holmes
Author = a christie, Books=adventures of poirot
Author = herge, Books=tintin
Author = 18383817, Books=asterix and obelix
Author = CRS1309, Books=beauty of photography

In [64]:
#merging of dictionary
contact = {}
contact['name'] = 'sriram'
contact['age'] = 50
contact['gender'] = 'm'
contact['city'] =  'pune'
contact['email'] = ' cr@myoffice.in'
contact

{'name': 'sriram',
 'age': 50,
 'gender': 'm',
 'city': 'pune',
 'email': ' cr@myoffice.in'}

In [ ]:
#we canot merge lie books+ contact

In [67]:
list(books.items())

[('r k narayan', 'guide'),
 ('ac doyle', 'sherlock holmes'),
 ('a christie', 'adventures of poirot'),
 ('herge', 'tintin'),
 (18383817, 'asterix and obelix'),
 ('CRS1309', 'beauty of photography')]

In [68]:
list(books.items())

[('name', 'sriram'),
 ('age', 50),
 ('gender', 'm'),
 ('city', 'pune'),
 ('email', ' cr@myoffice.in')]

In [74]:
newd=dict(list(books.items()) + list(contact.items()))

In [76]:
newd.keys()

dict_keys(['r k narayan', 'ac doyle', 'a christie', 'herge', 18383817, 'CRS1309', 'name', 'age', 'gender', 'city', 'email'])

In [ ]:
#############################################################################################################

In [ ]:
#1key-multiple values

In [ ]:
#let us create a weatherdataset in dictionary

In [ ]:
#step 1) create a list of values 
#schema
min_temp(15,20,1d)
mac_temp(25,35,1d)
min_humid(1-100)
max_humid (1-100)
altitude (500,2000,1d)
pollution(1,50,1d)
wind_dir('N/S/W/E/NE/SW') [any 1 @ random ]
area('High/Mod/Low') [any 1 2 random]

In [81]:
import random

In [83]:
temp = round(random.uniform(15,20),1)
print(temp) # done by mayur

15.2

In [84]:
type(temp)

float

In [142]:
#step 1) to create a list 
mintemp = []; maxtemp = [];
minhumid=[]; maxhumid=[];
alt=[]; poll=[];
wind=[]; area=[]

In [96]:
import random as r

In [143]:
windir= ['N','S','W''E','NE','SW']

In [144]:
arealoc=['High','Mod','Low']

In [145]:
#generate the sample data
for i in range(25):
    mintemp.append(round(r.uniform(15,20),1))
    maxtemp.append(round(r.uniform(25,35),1))
    minhumid.append(r.randint(10,60))    #randint is exclusive
    maxhumid.append(r.randint(35,95))
    alt.append(round(r.uniform(500,2000),1))
    poll.append(round(r.uniform(1,50),1))
    wind.append(windir[r.randint(0,len(windir)-1)])
    area.append(arealoc[r.randint(0,len(arealoc)-1)])

In [146]:
len(mintemp)

25

In [147]:
len(maxtemp)

25

In [148]:
len(minhumid)

25

In [149]:
len(maxhumid)

25

In [150]:
len(alt)

25

In [151]:
len(poll)

25

In [152]:
#to get a horizontal format display of output
print(mintemp,end =" ")

[18.9, 19.3, 15.7, 19.0, 17.4, 17.6, 16.2, 16.2, 17.2, 17.2, 16.6, 18.4, 19.6, 15.5, 15.5, 18.1, 17.0, 17.0, 19.5, 19.6, 19.7, 19.8, 17.3, 18.3, 17.2]

In [153]:
#create the dictionary (key-multiple values)
weather = {'mintemp':mintemp, 'maxtemp':maxtemp,'minhumid':minhumid,'maxhumid':maxhumid,'altitude':alt,'pollution':poll,'wind':wind,'area':area
          }

In [154]:
print(weather)

{'mintemp': [18.9, 19.3, 15.7, 19.0, 17.4, 17.6, 16.2, 16.2, 17.2, 17.2, 16.6, 18.4, 19.6, 15.5, 15.5, 18.1, 17.0, 17.0, 19.5, 19.6, 19.7, 19.8, 17.3, 18.3, 17.2], 'maxtemp': [31.4, 31.1, 34.3, 27.6, 25.7, 34.2, 26.1, 31.3, 30.9, 29.2, 35.0, 29.9, 34.7, 33.9, 32.3, 33.7, 25.1, 28.7, 26.9, 34.8, 33.6, 27.9, 28.9, 26.6, 31.4], 'minhumid': [34, 59, 32, 44, 32, 29, 15, 45, 26, 23, 37, 32, 46, 44, 56, 12, 29, 24, 59, 26, 21, 31, 14, 46, 11], 'maxhumid': [51, 37, 95, 43, 73, 66, 51, 71, 91, 55, 83, 44, 66, 95, 82, 80, 89, 53, 91, 66, 85, 74, 35, 35, 82], 'altitude': [1458.7, 1069.7, 1565.3, 755.5, 1222.2, 938.7, 1066.3, 1766.4, 1657.4, 512.8, 979.8, 1956.2, 715.1, 1203.0, 1766.3, 1820.7, 1266.5, 1617.7, 1811.0, 1770.7, 1635.6, 1289.3, 1071.3, 830.3, 1956.2], 'pollution': [4.3, 45.6, 32.9, 48.7, 26.3, 28.4, 33.2, 21.6, 31.8, 49.4, 9.5, 13.8, 41.1, 14.8, 7.3, 26.7, 14.1, 13.7, 15.3, 17.2, 22.6, 22.8, 27.8, 3.6, 43.2], 'wind': ['N', 'NE', 'S', 'N', 'N', 'N', 'NE', 'NE', 'N', 'NE', 'WE', 'NE', 'WE', 'SW', 'SW', 'WE', 'N', 'S', 'WE', 'S', 'NE', 'SW', 'WE', 'WE', 'S'], 'area': ['Low', 'Low', 'Mod', 'High', 'High', 'Low', 'Low', 'High', 'Low', 'Mod', 'Mod', 'Mod', 'High', 'Mod', 'High', 'High', 'Mod', 'Low', 'High', 'High', 'High', 'Mod', 'High', 'Low', 'Low']}

In [155]:
#to get values of a specific key
weather['maxtemp']

[31.4,
 31.1,
 34.3,
 27.6,
 25.7,
 34.2,
 26.1,
 31.3,
 30.9,
 29.2,
 35.0,
 29.9,
 34.7,
 33.9,
 32.3,
 33.7,
 25.1,
 28.7,
 26.9,
 34.8,
 33.6,
 27.9,
 28.9,
 26.6,
 31.4]

In [156]:
#max pollution level
max(weather['pollution'])

49.4

In [157]:
#get the minumum humidity of the first 5 records
weather['minhumid'][0:5]

[34, 59, 32, 44, 32]

In [158]:
#nested dictionary
employee ={}
employee['empid'] = 1001
employee

{'empid': 1001}

In [160]:
employee['name'] = {'first':'Anand','middle':'C','last':'Gupta'}
print(employee)

{'empid': 1001, 'name': {'first': 'Anand', 'middle': 'C', 'last': 'Gupta'}}

In [161]:
#get the last name
employee['name']['last']

'Gupta'